Options -Indexes
Options All -Indexes
<ifModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /videonbr/

#dsiable cache 
Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Sat, 2 Aug 1980 15:15:00 GMT"

     ExpiresActive On
     ExpiresDefault "access plus 0 seconds"
#end deisable cache 

## Application Handler
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)?$ index.php?u=$1	[QSA,NC,L]
## Error 404 ##
ErrorDocument 404 /index.php?u=404
</ifModule>
